<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Genres</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="/js/main.js" defer></script>
  </head>
  <body>
    <%- include("../partials/header", {title: "All Genres"}) %>

    <div class="sub-header"><a href="/genres/add">Add Genre</a></div>

    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th class="table-header" id="table-header-genre">
            <div class="inner-th">
              <span class="header-title">Genre</span>
              <div class="arrow-container">
                <a
                  href="/genres?sort=genre_name&order=asc"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="/genres?sort=genre_name&order=desc"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-actions">
            <div class="inner-th">
              <span class="header-title">Actions</span>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <% locals.genres.forEach((genre) => { %>
        <tr>
          <td>
            <a
              href="/genres/films?genre_name=<%= genre.genre_name %>&sort=title&order=asc"
              ><%= genre.genre_name %></a
            >
          </td>
          <%- include("../partials/table/actionsCell_genre", {genre: genre}) %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
