<header>
  <h1><%= title %></h1>
  <nav>
    <a href="/">Home</a> | <a href="/films?sort=title&order=asc">Films</a> |
    <a href="/directors?sort=dir_name&order=asc">Directors</a> |
    <a href="/genres?sort=genre_name&order=asc">Genres</a> |
    <a
      href="https://github.com/joshuaGmartin/inventory-app"
      target="_blank"
      rel="noopener"
      >Source</a
    >
  </nav>
</header>
