<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Genre</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="/js/main.js" defer></script>
  </head>
  <body>
    <%- include("partials/header", {title: "Add a Genre"}) %>
    <%- include("partials/errors") %>
    <form action="/genres/add" method="post">
      <label for="genreInput"
        >Genre:
        <input
          type="text"
          name="genreInput"
          id="genreInput"
          placeholder="Enter genre..."
          value="<%= inputData.genreInput %>"
          required
      /></label>

      <button type="submit">Add Genre</button>
    </form>
  </body>
</html>
