<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("partials/header", {title: "Home"}) %>
    <main>
      <h2>Database Tools</h2>
      <div class="database-tools">
        <ul>
          <li><a href="/films/add">Add Film</a></li>
          <li><a href="/directors/add">Add Director</a></li>
          <li><a href="">Add Genre</a></li>
        </ul>
      </div>
    </main>
  </body>
</html>
