html {
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 1rem;
}

.sub-header {
  margin-bottom: 1rem;
}

.database-tools {
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.search-form {
    display: flex;
    flex-direction: row;

    input {
      width: 15rem;
    }
  }

  #filmTitleInput {
    width: 20rem;
  }
}

table {
  th:not(#table-header-actions):hover {
    cursor: pointer;
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: #ccd9ec;
  }

  .inner-th {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    .arrow-container {
      min-width: max-content;

      a.arrow {
        appearance: none;
        color: black;
        text-decoration: none;
        --arrow-pad: 2px;
        padding: 0 var(--arrow-pad) 3px var(--arrow-pad);

        &.selected-arrow {
          outline: black 2px solid;
          background-color: white;
        }
      }
    }
  }

  tr:nth-child(even) {
    background-color: #ccd9ec;
  }

  td {
    &.actions-cell {
      .actions-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        form {
          margin: 0;

          button:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

button {
  max-width: fit-content;
}
